{% extends './base.html' %}
{% block title %}Configuration{% endblock %}

{% block extra_styles %}
{% endblock %}

{% block content %}
<div class="mx-5 mt-5">
    <form method="POST" action="/save-config/">
        {% csrf_token %}
        
        {% for param_name, values in params_with_values.items %}
        <div class="mb-3">
            <label for="param_{{ forloop.counter }}" class="form-label">{{ param_name }}</label>
            <select class="form-select" id="param_{{ forloop.counter }}" name="{{ param_name }}">
                <option selected disabled>Choisir une valuer pour {{ param_name }}</option>
                {% for value in values %}
                <option value="{{ value }}">{{ value }}</option>
                {% endfor %}
            </select>
        </div>
        {% endfor %}
        
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Générer le fichier de configuration</button>
        </div>
    </form>
</div>

<style>
    html {
        visibility: visible;
        opacity: 1;
    }
</style>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
</script>
{% endblock %}
</body>
</html>
